// Colors
$color-akcent: #1c74e9;
$color-white: #FFFFFF;
$color-black:#000000;
$color-blue:#1060CA;
$color-first-title: #1E1E1E;
// $color-secondary-title: #212121;
$color-input: #6F6F6F;
$color-menu-bg: #F3F8FF;
$color-footer-bg: #1060CA;
$color-light-bg: #F5F5F5;
$color-bg-item: #EBF4FF;
$color-gradient: linear-gradient(to right bottom, rgba(28, 116, 233, 1) 0%, rgba(16, 96, 202, 1) 100%);
// Animations
$duration: 2250ms;
$timing-function: cubic-bezier(0.4,0,0.2,1);
// Fonts
$main-font: 'Raleway', sans-serif;
$info-font: 'Inter', sans-serif;
$secondary-font: 'Roboto Condensed', sans-serif;