
html {
   scroll-behavior: smooth;
 }
 
 body {
   font-family: $main-font;
   width: 100%;
 }
 
 .container {
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;

   @include mq(mobile) {
      width: 360px;
   }

   @include mq(tablet) {
      width: 744px;
   }

   @include mq(desktop) {
      width: 1440px;
      padding-left: 120px;
      padding-right: 120px;
   }

   @include mq(monitor) {
      width: 1920px;
      padding-left: 100px;
      padding-right: 100px;
   }
}
 
.section {
   padding: 100px 0;

   @include mq(tablet) {
      padding: 120px 0;
   }

   @include mq(desktop) {
      padding: 120px 0;
   }

   @include mq(monitor) {
      padding: 100px 0;
   }
}

.link {
   text-decoration: none;
   color: currentColor;
}
 
.list {
   padding: 0;
   margin: 0;
   list-style: none;
}
 
.current {
   color: $color-akcent;
}

.active {
   font-weight: 500;
}

 .header,
 .hero,
 .about,
 .benefites,
 .services,
 .reviews,
 .contact-us {
    background-color: $color-white;
 }

// .btn-contact {
//    &__link {
//       max-width: 260px;
//       margin-left: auto;
//       margin-right: auto;
//       margin-bottom: 60px;
//       padding: 8px 10px 8px 25px;
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       gap:10px;
//       font-family: $main-font;
//       font-size: 16px;
//       font-weight: 500;
//       line-height: 1,25;
//       text-transform: uppercase;
//       color: $color-white;
//       background-color: $color-akcent;
//       border: solid 2px $color-akcent;
//       border-radius: 40px;
//       transition: color $duration $timing-function, background-color $duration $timing-function;
//       cursor: pointer;
      
//       @include mq(tablet) {
//          max-width: 310px;
//          width: 310px;
//          margin-bottom: 0px;
//          padding: 8px 10px 8px 20px;
//          font-size: 18px;
//          line-height: 1,1;
//       }

//       @include mq(desktop) {
//          // max-width: 300px;
//          padding: 8px 10px 8px 25px;
//       }
//    }
   
//    &__link:hover,
//    &__link:focus {
//       background-color: $color-light-bg;
//       color: $color-akcent;
//    }

//    &__link:hover > &__icon,
//    &__link:focus > &__icon {
//       background-color: $color-akcent;
//       color: $color-white;
//    }

//    &__icon {
//       fill: $color-akcent;
//       background-color: $color-white;
//       border-radius: 50px;
//       width: 50px;
//       height: 50px;

//       @include mq(tablet) { 
//          width: 60px;
//          height: 60px;
//       }
//    }
// }

// .hero {
//    &__link {
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       gap: 15px;
//       max-width: 270px;
//       margin-left: auto;
//       margin-right: auto;
//       margin-bottom: 60px;
//       padding: 8px 10px 8px 25px;
//       font-family: $main-font;
//       font-size: 16px;
//       font-weight: 500;
//       line-height: 1,25;
//       letter-spacing: 0.02em;
//       text-transform: uppercase;
//       color: $color-white;
//       background-color: $color-akcent;
//       border: solid 2px $color-akcent;
//       border-radius: 40px;
//       transition: color $duration $timing-function, background-color $duration $timing-function;

//       @include mq(tablet) {
//          gap: 10px;
//          font-size: 18px;
//          line-height: 1,1;
//          max-width: 280px;
//          margin-bottom: 0px;
//          padding: 8px 10px 8px 20px;
//       }
//    }
   
//    &__link:hover,
//    &__link:focus {
//       color: $color-akcent;
//       background-color: $color-light-bg;
//    }

//    &__link:hover &__icon,
//    &__link:focus &__icon {
//       fill: $color-white;
//    }

//    &__icon:hover,
//    &__icon:focus {
//       fill: $color-white;
//    }

//    &__circ {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       border-radius: 50px;
//       width: 50px;
//       height: 50px;
//       background-color: currentColor;
//    }

//    &__icon {
//       fill: $color-akcent;
//       transition: color $duration $timing-function, background-color $duration $timing-function;

//    }
// }

// .btn-contact {
//    &__link {
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       gap:20px;
//       font-family: $main-font;
//       font-size: 16px;
//       font-weight: 500;
//       line-height: 1,25;
//       text-transform: uppercase;
//       color: $color-white;
//       background-color: $color-akcent;
//       border: solid 2px $color-akcent;
//       border-radius: 40px;
//       max-width: 300px;
//       margin-left: auto;
//       margin-right: auto;
//       margin-bottom: 60px;
//       padding: 8px 10px 8px 25px;
//       transition: color $duration $timing-function, background-color $duration $timing-function;

//       @include mq(tablet) {
//          font-size: 18px;
//          line-height: 1,1;
//          max-width: 300px;
//          margin-bottom: 0px;
//          padding: 8px 10px 8px 20px;
//       }

//       @include mq(desktop) {
//          max-width: 300px;
//          padding: 8px 10px 8px 25px;
//       }
//    }
   
//    &__link:hover,
//    &__link:focus {
//       background-color: $color-light-bg;
//       color: $color-akcent;
//    }

//    &__link:hover > &__icon,
//    &__link:focus > &__icon {
//       background-color: $color-akcent;
//       color: $color-white;
//    }

//    &__icon {
//       fill: $color-akcent;
//       background-color: $color-white;
//       border-radius: 50px;
//       width: 50px;
//       height: 50px;

//       @include mq(tablet) { 
//          width: 60px;
//          height: 60px;
//       }
//    }
// }

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}
 
//  .active {
//     color: $color-white;
//     background-color: $color-akcent;  
//  }
 
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}
