
html {
   scroll-behavior: smooth;
 }
 
 body {
   font-family: $main-font;
 }
 
 .container {
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;

   @include mq(mobile) {
      width: 360px;
   }

   @include mq(tablet) {
      width: 744px;
   }

   @include mq(desktop) {
      width: 1366px;
      padding-left: 120px;
      padding-right: 120px;
   }

   @include mq(monitor) {
      width: 1920px;
      padding-left: 100px;
      padding-right: 100px;
   }
}
 
.section {
   padding: 100px 0;

   @include mq(tablet) {
      padding: 120px 0;
   }

   @include mq(desktop) {
      padding: 120px 0;
   }
}

.link {
   text-decoration: none;
   color: currentColor;
}
 
.list {
   padding: 0;
   margin: 0;
   list-style: none;
}
 
 .header,
 .hero,
 .about,
 .benefites,
 .services,
 .reviews,
 .contact-us {
    background-color: $color-white;
 }
 
.current {
   color: $color-akcent;
}

.site-nav__link .current {
   color: $color-akcent;
}
.active {
   font-weight: 500;
}

.btn-contact {
   &__link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap:10px;
      font-family: $main-font;
      font-size: 16px;
      font-weight: 500;
      line-height: 1,25;
      text-transform: uppercase;
      color: $color-white;
      background-color: $color-akcent;
      border: solid 2px $color-akcent;
      border-radius: 40px;
      max-width: 250px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 60px;
      padding: 8px 10px 8px 15px;
      transition: color $duration $timing-function, background-color $duration $timing-function;

      @include mq(tablet) {
         font-size: 18px;
         line-height: 1,11;
         max-width: 280px;
         margin-bottom: 0px;
         padding: 8px 10px 8px 20px;
      }

      @include mq(desktop) {
         max-width: 290px;
         padding: 8px 10px 8px 25px;
      }
   }
   
   &__link:hover,
   &__link:focus {
      background-color: $color-light-bg;
      color: $color-akcent;
   }

   &__link:hover > &__icon,
   &__link:focus > &__icon {
      background-color: $color-akcent;
      color: $color-white;
   }

   &__icon {
      fill: $color-akcent;
      background-color: $color-white;
      border-radius: 50px;
      width: 50px;
      height: 50px;

      @include mq(tablet) { 
         width: 60px;
         height: 60px;
      }
   }
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}
 
//  .active {
//     color: $color-white;
//     background-color: $color-akcent;  
//  }
 
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}