.footer {
    background-color: $color-akcent;
    padding: 50px 40px;
    margin-left: auto;
    margin-right: auto;

    @include mq(tablet) {
        width: 744px;
        padding: 50px 15px 45px;
    }

    @include mq(desktop) {
        width: 1440px;
        // padding: 60px 120px;
        padding: 60px 120px 60px;
    }

    @include mq(monitor) {
        min-width: 1920px;
        // padding: 70px 100px 80px;
        padding: 70px 100px 80px;
    }
}

.footer__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include mq(tablet) {
        flex-direction: row;
        align-items: flex-start;
    }
}

.footer__logo {
    fill: $color-white;
}

.footer__inner {
    @include mq(tablet) {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    @include mq(desktop) {
        display: flex;
        flex-direction: row;
        // gap: 50px;
    }
}

.footer-nav {
        &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    
        @include mq(tablet) {
            display: flex;
            flex-direction: row;
            gap: 30px;
            padding: 0;
        }
    
        @include mq(desktop) {
            align-content: flex-start;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;

        @include mq(tablet) {
            position: relative;
        }
    }

    &__item:not(:first-child) {
        margin-top: 20px;
        @include mq(tablet) {
            margin-top: 0px;
        }
    
        @include mq(desktop) {
            margin-left: 30px;
        }
    
        @include mq(monitor) {
            margin-left: 60px;
        }
    }

    &__link {
        margin: 0 auto;
        // padding-top: 20px;
        padding-bottom: 20px;
        font-family: $info-font;
        color: $color-white;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        
        // @include mq(tablet) {
        //     font-size: 40px;
        //     line-height: 1.35;
        // }
    
        @include mq(desktop) {
            font-size: 20px;
        }
    
        // @include mq(monitor) {
        //     font-size: 60px;
        //     line-height: 1.23;
        // }
    
    }
    
    &__link.active {
        font-weight: 500;
    }
}

.footer-subnav {
    &__list {
        display: none;
        padding: 5px 15px 5px;
        width: 240px;
        max-height: 0;
        background-color: rgba(28, 116, 233,0.8);
        border: solid 2px $color-white;
        border-radius: 10px;
        // box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
        transition: max-height $duration $timing-function;

        @include mq(tablet) {
            position: absolute;
            top: 70%;
            left: -50%;
            width: 230px;
            margin-top: 0;
        }

        @include mq(desktop) {
            top: 80%;
            left: 0;
            width: 400px;
            // padding: 20px;
        }
    }

    &__item {
    }

    &__item:not(:last-child) {
        margin-bottom: 10px;

        @include mq(desktop) {
            // margin-bottom: 20px;
        }
    }
    
    &__link {
        display: inline-block;
        // margin-left: auto;
        // margin-right: auto;
        font-family: $info-font;
        font-size: 16px;
        font-weight: 300;
        color: $color-white;

        @include mq(desktop) {
            font-size: 20px;
        }
    }
 
    // &__link:hover,
    // &__link:focus {
    //     font-size: 20px;
    // }
}
    
nav li:hover > .footer-subnav__list,
.footer-subnav__list:hover {
    display: block;
    max-height: 150px;
        
    @include mq(tablet) {
        max-height: 150px;
    }
}

.socials-footer__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
        
    @include mq(tablet) {
        justify-content: flex-end;
        margin-top: 110px;
        }
    
        @include mq(desktop) {
            align-content: center;
            margin-top: 0;
            margin-left: 50px;
        }

        @include mq(monitor) {
            margin-left: 300px;
        }
}

// .socials-footer__item:not(:last-child) {
//     margin-right: 10px;

//     @include mq(tablet) {
//         margin-right: 30px;
//     }

//     @include mq(desktop) {
//         display: flex;
//     }
// }

.socials-footer__link {
    display: inline-block;
}

.socials-footer__icon {
    fill: $color-white;
    width: 30px;
    height: 30px;
    
    @include mq(desktop) {
        width: 40px;
        height: 40px;
    }
}

.footer_policy {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    font-family: $info-font;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    text-align: center;
    color: $color-white;
    
    // @include mq(tablet) {
    //     font-size: 40px;
    //     line-height: 1.35;
    // }

    @include mq(desktop) {
        margin-top: 120px;
        font-size: 20px;
    }

    // @include mq(monitor) {
    //     font-size: 60px;
    //     line-height: 1.23;
    // }
}