.header {
    &__flex {
        @include mq(desktop) {    
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__thumb {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;

        @include mq(tablet) {    
            padding-top: 20px;
        }

        @include mq(desktop) {    
            padding-top: 30px;
        }
    }

    &__link {
        color: $color-akcent;
    }

    &__logo {
        fill: currentColor;
        @include mq(tablet) {    
            width: 51px;
            height: 54px;
        }

        @include mq(desktop) {   
            width: 89px;
            height: 94px;
        }        
    }

    &__btn {
        border: none;
        background-color: transparent;
        color: $color-blue;
        padding: 0px;
        margin: 0;
        cursor: pointer;

        // margin-left: 200px;

        @include mq(desktop) {    
            display: none;
        }
    }

    &__icon {
        fill: currentColor;
        @include mq(tablet) {    
            width: 41px;
            height: 41px;
        }
    }
    
    &__call-me {
        display: none;
    
        @include mq(desktop) {
            display: block;
            font-family: $secondary-font;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.25;
            text-transform: uppercase;
            color: $color-akcent;
            background-color: $color-white;
            border: solid 2px $color-akcent;
            border-radius: 40px;
            margin-left: 64px;
            padding: 17px 12px;
        }
    }
}

.site-nav {   
    &__item {

    }
           
    &__item:not(:last-child) {
        margin-right: 60px;
    }

    &__list {
        display: none;
        
        @include mq(desktop) {
            display: flex;
            align-items: center;
            margin-left: auto;
        }
    } 

    &__link {
        font-family: $info-font;
        font-size: 20px;
        font-weight: 300;
        color: $color-black;
        // margin-left: 60px;

    }
}


// .mobile-menu__call-me:hover,
// .mobile-menu__call-me:focus {
//     color: $color-akcent;
// }







