// Mobile
// Desktop

.mobile-menu {
    &__nav {

    }

    &__thumb {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        @include mq(desktop) {    
            display: block;
        }

    }

    &__header-link {
        color: $color-akcent;

        // @include mq(desktop) {    
        //     display: none;
        // }
    }

    &__logo {
        fill: currentColor;
        @include mq(tablet) {    
            width: 51px;
            height: 54px;
        }

        @include mq(desktop) {   
            width: 89px;
            height: 94px;
        }        
    }

    &__close-btn {

        @include mq(desktop) {    
            display: none;
        }
        
        border: none;
        background-color: transparent;
        color: $color-blue;
        // transition: color $duration $timing-function;
    }

    &__close-icon {
        fill: currentColor;
        @include mq(tablet) {    
            width: 41px;
            height: 41px;
        }
    }

    &__item {
        // margin-left: auto;
        // margin-right: auto;
    }

    &__list {
        display: none;

        @include mq(desktop-only) {
            display: block;
        } 
    } 

    &__link {
        // text-align: center;
    }

    &__call-me {
        display: none;

        @include mq(desktop-only) {
            display: block;
        } 
    } 
}






