.mobile-menu {
    &__nav {
        @include mq(desctop) {
            display: none;
        }

        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 20px 15px;
        background-color: $color-menu-bg;
        display: flex;
        flex-direction: column;
        z-index: 11;
        transform: translateX(80%);
        transition: $duration $timing-function;
    }
    
    &__nav.is-open {
        transform: translateX(0);
    }
    
    &__thumb {
        position: relative;
    }

    &__link {
        color: $color-akcent;
    }

    &__logo {
        fill: currentColor;
        @include mq(tablet) {    
            width: 51px;
            height: 54px;
        }       
    }

    &__close-btn {
        position: absolute;
        top: 27px;
        right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        padding: 0px;
        margin: 0;
        cursor: pointer;
        color: $color-black;
        background-color: transparent;
        border: none;
        transition: color $duration $timing-function;
    }
    
    &__close-btn:hover,
    &__close-btn:focus {
        color: $color-akcent;
    }
    
    &__close-icon {
        fill: currentColor;
    }
}

// .mobile-socials {
//     &__list {
//         display: flex;
//         flex-wrap: wrap;
//     }

//     &__item {
//         margin-right: 20px;
//     }

//     &__item:last-child {
//         margin-right: 0;
//     }

//     &__link {
//         font-size: 18px;
//         font-weight: 500;
//         line-height: 1.22;
//         letter-spacing: 0.02em;
//     }
// }


