.benefites {

    &__heading {
    font-family: $main-font;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.46;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 50px;
    
        @include mq(tablet) {
            width: 90%;
            font-size: 40px;
            line-height: 1.35;
        }
    
        @include mq(desktop) {
            width: 1060px;
            font-size: 50px;
            line-height: 1.28;
        }
    
        @include mq(monitor) {
            font-size: 60px;
            line-height: 1.23;
        }
    }

        &__list {
        
        // width: 350px;
        
        @include mq(tablet) {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            margin-left: 18px;
        }
    
        @include mq(desktop) {
            gap: 29px;
            margin-left: 0px;
        }
    
        @include mq(monitor) {
            gap: 40px;
        }
    }
    
    &__list:not(:last-child) {
        @include mq(mobile-only) {
            margin-bottom: 20px;

        }
    }

    &__item {
        background-color: $color-akcent;
        max-width: 320px;
        height: 320px;
        border-radius: 30px;
        padding: 20px 30px;
    
        @include mq(tablet) {
            width: 320px;
            height: 320px;
            padding: 20px 20px;
        }
    
        @include mq(desktop) {
            max-width: 277px;
            height: 330px;
            padding: 20px 10px 40px;
        }
    
        @include mq(monitor) {
            max-width: 550px;
            width: 400px;
            height: 400px;
            padding: 30px 20px;
        }
    }
        
    &__item:not(:last-child) {
        @include mq(mobile-only) {
            margin-bottom: 20px;
        }
    }

    &__icon {
        display: block;
        fill: $color-white;
        text-align: center;
        margin: 0 auto;
    }

    &__title {
        font-family: $main-font;
        color: $color-white;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.4;
        text-align: center;
        width: 220px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 15px;
    
        @include mq(desktop) {
            font-size: 20px;
            line-height: 1.4;
            width: 260px;
        }
    
        @include mq(monitor) {
            font-size: 26px;
            line-height: 1.4;
            width: 340px;
        }
    }

    &__line {
        display: block;
        fill: $color-white;
        text-align: center;
        margin: 0 auto;
    }

    &__discription {
        font-family: $info-font;
        color: $color-white;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.42;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    
        @include mq(monitor) {
            font-size: 16px;
            line-height: 1.5;
        }
    }
}