.contact-us {

    &__flex {
        @include mq(desktop) {
            display: flex;
        }
    }

    &__inner {
        @include mq(desktop) {
            width: 705px;
        }
    
        @include mq(monitor) {
            width: 870px;
        }
    }

    &__heading {
        // width: 300px;
        margin-bottom: 50px;
        font-family: $main-font;
        font-size: 30px;
        font-weight: 500;
        line-height: 1.46;
        text-align: center;
        color: $color-first-title;
        
        @include mq(tablet) {
            width: 90%;
            font-size: 40px;
            line-height: 1.35;
        }
    
        @include mq(desktop) {
            width: 100%;
            font-size: 50px;
            line-height: 1.28;
            text-align: left;
        }
    
        @include mq(monitor) {
            font-size: 60px;
            line-height: 1.23;
        }
    }

    &__text {
        width: 80%;
        // width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 40px;
        font-family: $info-font;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.37;
        text-align: center;
        
        @include mq(tablet) {
            width: 90%;
            line-height: 1.62;
        }
    
        @include mq(desktop) {
            width: 560px;
            margin-left: 0;
            font-size: 20px;
            line-height: 1.7;
            text-align: left;
        }
    }

    &__form {
        margin-left: auto;
        margin-right: auto;
    
        @include mq(desktop) {
            text-align: left;
        }
    }

    &__input {
        display: block;
        max-width: 330px;
        height: 70px;
        margin-bottom: 15px;
        padding: 25px 100px 25px 30px;
        font-family: $secondary-font;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        color: $color-input;
    
        border-radius: 40px;
        border: 1px solid $color-akcent;
        background-color: transparent;
        outline: none;
    
        @include mq(tablet-only) {
            width: 450px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    
        @include mq(desktop) {
            width: 358px;
        }
    }

    &__btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 286px;
        max-height: 75px;
        margin-left: 0;
        padding: 8px 8px 8px 35px;
        font-family: $main-font;
        background-color: $color-akcent;
        font-size: 16px;
        font-weight: 500;
        color: $color-white;
        text-transform: uppercase;
        border: $color-akcent;
        border-radius: 40px;
        cursor: pointer;
        transition: color $duration $timing-function, background-color $duration $timing-function;
    
        // @include mq(not-desktop) {
        //     margin-left: auto;
        //     margin-right: auto;
        //     width: 200px;
        // }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        background-color: $color-white;
        border-radius: 50%;
    }

    &__icon {
        width: 32px;
        height: 32px;
        // background-color: $color-white;
        // border-radius: 50px;
        fill: $color-akcent;
        // padding: 10px;
    }

    &__thumb {
        position: relative;
    }

    &__img-1 {
        // display: none;
        // position: absolute;
        // width: 60vw;
        // bottom: 270px;
        // left: 15%;
        border-radius: 17px;
    }
    
    &__img-2 {
        // display: none;
        // position: absolute;
        // width: 421px;
        // height: 265px;
        // bottom: 170px;
        // left: 12%;
        border-radius: 17px;
    }
}