.questions {
    width: 100%;
    background-color: $color-bg-item;
    border-radius: 30px;

    // @include mq(tablet) {
    //     padding-left: 15px;
    //     padding-right: 15px;
    // }

    // @include mq(desktop) {
    //     // margin-left: 20px;
    //     // margin-right: 20px;
    // }

    // @include mq(monitor) {
    //     margin-left: 100px;
    //     margin-right: 100px;
    // }

    &__heading {
        font-family: $main-font;
        color: $color-first-title;
        font-size: 30px;
        font-weight: 500;
        line-height: 1.46;
        text-align: center;
        width: 300px;
        margin: 0 auto;
        margin-bottom: 40px;
        
        @include mq(tablet) {
            width: 90%;
            font-size: 40px;
            line-height: 1.35;
            margin-bottom: 50px;
        }
    
        @include mq(desktop) {
            width: 1060px;
            font-size: 50px;
            line-height: 1.28;
            margin-bottom: 60px;
        }
    
        @include mq(monitor) {
            font-size: 60px;
            line-height: 1.23;
            margin-bottom: 60px;
        }
    }
    &__list {

        @include mq(monitor) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 40px;
            padding-left: 140px;
            padding-right: 140px;
        }
    }
    
    &__item {
        background-color: $color-white;
        border-radius: 50px;
        padding: 20px;

            
        @include mq(tablet) {
            max-width: 674px;
            padding: 15px 20px 15px 30px;
            margin-left: auto;
            margin-right: auto;
        }

        @include mq(desktop) {
            max-width: 700px;
            height: 90px;
        }
    
        @include mq(monitor) {
            width: 100%;
            font-size: 60px;
            line-height: 1.23;
            margin: 0;
        }
    }
    
    &__item:not(:first-child) {
        margin-top: 15px;
    
        @include mq(tablet) {
            margin-top: 20px;
        }
        
        @include mq(desktop) {
            margin-top: 40px;
        }
        
        @include mq(monitor) {
            // display: block;
            margin-top: 0;
        }
    }
    
    &__item:first-child {
        height: 100%;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__title {
        font-family: $main-font;
        color: $color-akcent;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.37;
        max-width: 240px;
        margin: 0;
        
        @include mq(tablet) {
            // width: 90%;
            max-width: 550px;
            font-size: 24px;
            line-height: 1.25;
        }
    
        @include mq(desktop) {
            width: 560px;
            font-size: 24px;
            line-height: 1.25;
        }
    
        @include mq(monitor) {
            font-size: 24px;
            line-height: 1.25;
        }  
    }
    
    &__icon {
        fill: $color-akcent;
    }
    
    &__text {
        font-family: $info-font;
        color: $color-first-title;
        font-size: 12px;
        font-weight: 300;
        line-height: 1.66;
        width: 100%;
        margin: 0;
        margin-top: 20px;
        
        @include mq(tablet) {
            width: 95%;
            font-size: 16px;
            line-height: 1.62;
        }
    
        @include mq(desktop) {
            // width: 1060px;
            // font-size: 24px;
            line-height: 1.25;
        }
    
        @include mq(monitor) {
            // font-size: 24px;
            line-height: 1.25;
        }  
    }
}